.dc-hello-bar {
  /* Styling for hello bar ad area */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4em;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 1rem;
  background: #8fa55c; /*Same as emphasis button color on /bikes*/
  z-index: 10000;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  transition: all .5s ease-in-out;
}
@media only screen and (max-width: 480px) {
  .dc-hello-bar {
    font-size: 14px;
    padding-left: 56px;
  }
}
.dc-hello-bar.dc-hello-bar--closed {
  bottom: -50vh;
}

.dc-hello-bar__content {
  max-width: 90vw;
}

.dc-hello-bar__close {
  position: absolute;
  right: 32px;
  top: -16px;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 3px solid #8fa55c;
  transition: all .25s ease-in-out;
  border-radius: 50%;
}
@media only screen and (max-width: 480px) {
  .dc-hello-bar__close {
    right: 8px;
  }
}
.dc-hello-bar__close:hover {
  /* background: #8fa55c; */
  transform: scale(120%);
  border: 3px solid #fff;
  background: #8fa55c;
}
.dc-hello-bar__close:before, .dc-hello-bar__close:after {
  position: absolute;
  left: 16px;
  top: 3px;
  content: ' ';
  height: 28px;
  width: 3px;
  background-color: #8fa55c;
  transform: all .25s ease-in-out;
}
.dc-hello-bar__close:before {
  transform: rotate(45deg);
}
.dc-hello-bar__close:after {
  transform: rotate(-45deg);
}
.dc-hello-bar__close:hover:before, .dc-hello-bar__close:hover:after {
  background-color: #fff;
}
.dc-hello-bar a {
  color: #ab3f1b;
}
.dc-hello-bar a:visited {
  color: purple;
}
.dc-hello-bar a:hover {
  text-decoration: underline;
}
